@page {
  margin: 0;
}

.Resume {
  size: A4;
  margin: 0;
  -webkit-print-color-adjust: exact;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Ubuntu-Medium';
  src: local('Ubuntu-Medium'), url(./fonts/Ubuntu-Medium.ttf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu-Regular';
  src: local('Ubuntu-Regular'), url(./fonts/Ubuntu-Regular.ttf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu-Bold';
  src: local('Ubuntu-Bold'), url(./fonts/Ubuntu-Bold.ttf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu-MediumItalic';
  src: local('Ubuntu-MediumItalic'), url(./fonts/Ubuntu-MediumItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu-LightItalic';
  src: local('Ubuntu-LightItalic'), url(./fonts/Ubuntu-LightItalic.ttf) format('opentype');
}

@font-face {
  font-family: 'Ubuntu-Italic';
  src: local('Ubuntu-Italic'), url(./fonts/Ubuntu-Italic.ttf) format('opentype');
}
